.contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  margin-top: 10px;
  width: fit-content;
  min-width: 200px;
}

.none {
  font-size: 27px;
  margin-top: 5px;
}
